<h2>Schiedsrichterlizenz aktualisiert</h2>

<p>Hallo <%= @referee.vorname %> <%= @referee.nachname %>,</p>

<p>
  deine Schiedsrichterlizenz wurde im Saisonmanager aktualisiert.
</p>

<% if @referee.lizenznummer.present? %>
<p><strong>Lizenznummer:</strong> <%= @referee.lizenznummer %></p>
<% end %>

<% if @referee.lizenzstufe.present? %>
<p><strong>Lizenzstufe:</strong> <%= @referee.lizenzstufe %></p>
<% end %>

<% if @referee.gueltigkeit.present? %>
<p><strong>Gültigkeit:</strong> <%= @referee.gueltigkeit.strftime('%d.%m.%Y') %></p>
<% end %>

<p>
  Ob für die laufende Saison eine gültige Lizenz hinterlegt ist, kannst du jederzeit unter Angabe deiner Lizenznummer hier im <a href="https://sr.floorball.de/lizenzcheck/?q=<%= @referee.lizenznummer %>">Lizenzchecker</a> prüfen.
</p>

<p>
  Bei Fragen oder Unstimmigkeiten wende dich bitte an die Regel- und Schiedsrichterkommission von Floorball Deutschland (rsk@floorball.de).<br>
  <a href="https://saisonmanager.org">saisonmanager.org</a>
</p>
