<% release = @transfer_request.request_type == 'release' %>
<h2><%= release ? 'Spielerfreigabe erteilt' : 'Transfer vollzogen' %></h2>

<p>Hallo,</p>

<p>
  die folgende <%= release ? 'Spielerfreigabe wurde erteilt' : 'Transferanfrage wurde vollzogen' %>:
</p>

<p>
  <strong>Spieler:</strong> <%= @transfer_request.player.first_name %> <%= @transfer_request.player.last_name %><br>
  <strong>Heimverein:</strong> <%= @transfer_request.former_club.name %><br>
  <strong><%= release ? 'Freigegeben an' : 'Neuer Verein' %>:</strong> <%= @transfer_request.requesting_club.name %>
</p>

<% if release %>
  <p>
    Der Spieler bleibt im Heimverein. Der aufnehmende Verein kann nach der Zuordnung
    zu einem Team eine Lizenz für den freigegebenen Spieler beantragen.
  </p>
<% else %>
  <p>
    Alle bestehenden Lizenzen des Spielers wurden auf „ungültig wg. Transfer" gesetzt.
    Lizenzen für den neuen Verein können ab sofort beantragt werden.
  </p>
<% end %>

<p>
  Das Saisonmanager-Team<br>
  <a href="<%= frontend_base_url %>"><%= frontend_host %></a>
</p>
